
.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
env*
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode
images/known/emptyfile.txt
images/matches/emptyfile.txt
images/unknown/emptyfile.txt
images/uploads/emptyfile.txt

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover

# folders
/references
/__pycache__
/.vscode
/test

