html { font-size: 62.5%; }

body{
  background: rgb(214, 214, 233);
  font-size: 1.7rem;
}

#loading {
  display: block;
  z-index: 100;
  position: relative;
  top: -3.5rem;
  left: -5rem;
}

#loading img {
  height: 4.5rem;
  width: 3rem ;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  margin-left: 5%;
  margin-right: 5%;
  background: rgb(236, 236, 241);
  box-shadow: 0.5rem 0.5rem 1rem rgb(141, 138, 138);

}

.text-output {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 13rem;
}

.text-output div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-output-start {
  /* border: 1px solid blue; */
  display: inline-grid;
  align-items: center;
  justify-content: center;
}


.button {
	display: inline-block;
	padding: .75rem 1.25rem;
	border-radius: 10rem;
	color: #fff;
	text-transform: uppercase;
	font-size: 1rem;
	letter-spacing: .15rem;
	transition: all .3s;
	position: relative;
	overflow: hidden;

}
.button:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3291cd;
  border-radius: 10rem;
  z-index: -2;
}

.button:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: darken(#3291cd, 15%);
  transition: all .3s;
  border-radius: 10rem;
  z-index: -1;
}
.button:hover {
  color: #5454;
}
.button:before {
  width: 100%;
}


.img-uploads-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 6rem;
}

.known-imgs, .unknown-imgs, .start {
  display: inline-grid;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}



/* processing page */
.output_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 20rem;
}

.stats, .output_img {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}



.stats {
  color: #545454;
}

.output_img {
  color: #545454;
  grid-template-rows: 20rem;
}

.output_img img{
  width: 100%;
  height: 80%;
}


/* can ignore styles below; decorative only */
footer {
  display: grid;
  grid-template-columns: 1fr;
  border-radius: 25px
}

footer div {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  text-align: center;
}


.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.contact div {
  display: flex;
  justify-content: left;
  font-size: 1.5rem;
  margin: 3% 2% 0;
}


.resetbtn {
  display: flex;
	justify-content: center;
	align-items: center;
  border-radius: 0.4rem;
  color: whitesmoke;
  background: rgb(230, 52, 52);
  height: 2.5rem;
  width: 8rem;
  padding: 0.5rem;
  border: 0.15rem solid rgba(34, 33, 33, 0.97);
  transform: 0.6s ease;
	transition: all 0.4s !important;
  padding: 0 20px;
  cursor: pointer;
}




.resetbtn:hover{
  transform: translateY(-3px);
  background-color: rgb(221, 124, 124);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.reset form  {
  margin: 1.5% 5%;
}

ul {
  list-style: none;
  padding-top: 2rem;
  margin: auto;
}

ul li::before {
  content: "\2022";
  color: #141f9b;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}