{% extends 'base.html' %}

{% block body %}



<div class="grid-container">

  <div class="text-output">
    <div>{{test}} </div>
  </div>

  <div class="img_uploads_container">
    <div class="known_imgs">
      <form method="post" action="/">
        <input type="submit" value="known" name="known"/>
      </form>
    </div>

    <div class="unknown_imgs">
      <form method="post" action="/">
        <input type="submit" value="unknown" name="unknown"/>
      </form>
    </div>
  </div>

  <div class="output_container">
    <div class="output_img"> image </div>
    <div class="stats">
      <ul>
        <li>stats</li>
        <li>go</li>
        <li>here</li>
      </ul>
    </div>
  </div>

  <footer>
    <div>hdhahhd</div>
  </footer>

</div>
{% endblock %}