{% extends 'base.html' %}

{% block body %}


<div class="grid-container">

  <div class="text-output">
    <div>{{text_output}} </div>
  </div>

  <div class="img_uploads_container">
    <div class="known_imgs">
      <form method="post" action="/">
        <button type="submit" value="known" name="known">known</button>
      </form>
    </div>

    <div class="unknown_imgs">
      <form method="post" action="/">
        <button type="submit" value="unknown" name="unknown">unknown</button>
      </form>
    </div>
  </div>

  <div class="text-output ">
    <div>
      {% if start %}
      step 3:
      <form method="post" action="/">
        <button class="start" type="submit" value="start" name="start">start</button>
      </form>
      {% endif %}
    </div>
  </div>



{% endblock %}