{% extends 'base.html' %}

{% block body %}


<div class="grid-container">

  <div class="text-output">


  <div class="text-output-start">
    <div>
      Step 3:

      {% if step3 %}
      <form method="post" action="/">
        <button type="submit" value="start" name="start" >start</button>
      </form>
    {% endif %}
      {% if start %}
        <form method="post" action="/">
          {% if start %}
          <button  value="prev" name="prev">&#xab; previous</button>
          {% endif %}
          <button  value="next" name="next">next &#xbb;</button>
        </form>
      {% endif %}
    </div>
  </div>



  {% if start %}
  <div class="output_container">
    <div class="output_img">

      <img src='/static/images/matches/{{current_image}}'/>

    </div>
    <!-- <div class="stats">
      <ul>
        {{stats['full name']}}
        <li>{{stats['team'] }}</li>
        <li> games played: {{stats['games played'] }}</li>
        <li> points per game: {{stats['points per game'] }}</li>
        <li> shooting percentage: {{stats['shooting percentage'] }}</li>
      </ul>
    </div> -->
  </div>
  {% endif %}

{% endblock %}
